.img-box {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.elemlist .blog-item .img-box {
    height: 250px;
    width: 350px;
}

.owl-carousel .case-study-item .img-box {
    height: 250px;
    width: 350px;
}

.col-md-6.col-lg-4 .blog-item .img-box {
    height: 250px;
    width: 350px;
}


.elemdetail .text-box p > a{
    color: inherit;
}
.elemdetail .text-box p > a:hover{
    color: #C89D66;
}

.footer h4 {
    font-size: 1.3rem;
}

